.panel-contact-link {
    font-size: 14px;
    text-align: right;
}

.search-bar{
    width: 100%;
    margin: 10vh auto 0;
    padding-right: 0;
    padding-left: 0;
}

.search-bar .MuiInputBase-root-49 {
    font-size: 3rem;
}

.patient-note {
    border: 1px solid #f2b44f;
    padding: 0.5rem;
    font-style: italic;
    resize: none;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    height: 100px
}

.patient-note:focus {
    outline: none;
}

.patient-note-header {
    font-size: 18px;
    margin: 0 0 0.5rem 0;
    padding: 0;
    text-align: left;
}

.in-progress-text {
    color: #e0961f;
    font-weight: 500;
    font-size: 16px;
    margin: 0.9em 0.9em 0 0;
    font-style: italic;
}

.in-progress-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width: 860px) {
    .clinician-action-component .disabled-action-card .action-card-header {
        flex-direction: column;
    }

    .clinician-action-component .action-card-in-progress .action-card-header {
        flex-direction: column;
    }

    .not-needed-header, .in-progress-text {
        margin: 0 0 0 1.5rem;
    }
}