.app{
    height: 100%;
    margin-bottom: 5rem;
}

.footer {
    bottom:0vh;
    margin:0;
    position:relative;
}

.panel-group{
    margin: 10vh auto 0;
    width: 65vw;
}

@media(max-width: 860px) {
    .panel-group {
        margin: 10vh auto 0;
        width: 93vw;
    }
}
