.actionview {
    min-height: 86vh;
    margin: 10px;
}

.action_button {
    padding: 10px;
}

#child-hub {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

/* age-recognition panels */

.age-recognition-panel {
    margin: 1rem 2rem 1rem 1rem;
    border: 1px solid #1a4397;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    max-width: 350px;
    min-width: 250px;
}

.age-recognition-content {
    text-align: center;
    padding: 1rem;
}

.age-recognition-content p {
    text-align: center;
}

#age-recognition-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* end of age-recognition styling */

/* headers */

.materials-header {
    margin: 3rem 0 1rem 2rem;
}

.age-recognition-header {
    margin: 2rem;
}

.actions-header {
    margin-bottom: 2rem;
}

/* end of headers */

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(26,67,151, 0.5)
}

.keyword {
    color: #4677d8;
}

.Modal {
    height: 90%;
    margin: 5%;
    width: 90%;
    position: absolute;
    vertical-align: center;
    z-index: 10;
}
.spacing {
    margin: 1%;
}
.centerheader {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin: 3px;
}
.centerheader h2 {
    display: inline-block;
}
.btnheader {
    border-radius: 80%;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    font-size: 40px;
    text-align: center;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.95;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-size: 28px;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.subheader {
    font-size: 18px;
}
.yesno {
    width: 50%;
}

.yesnobut {
    margin-top: 50px;
}

/* MEDIA QUERIES */

@media (max-width: 714.99px) {
    #child-hub {
        flex-direction: column;
    }

    .actions-header {
        font-size: 22px;
    }

    .age-recognition-header, .materials-header {
        font-size: 16px;
    }
}

@media(min-width: 715px) {
    #child-hub {
        flex-direction: row;
    }
    .actions-header {
        font-size: 26px;
    }

    .age-recognition-header, .materials-header {
        font-size: 18px;
    }
}