.defaultview {
    position: relative;
    min-height: 86vh;
    padding: 0 24px 24px;
    margin: 0;
}

h1 {
    text-align: center;
}

@media all and (max-width: 480px) {
    h1 {
        font-size: 6vw;
    }

    p {
        font-size: 3.5vw;
    }
}

