/*
#providers, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th, td {
    width: 5%;
}

#first {
    width: 20%;
}
*/
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}